<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyConnectionString"
			 connectionString = "Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\gbuss\Source\Repos\mrgiel\arcade_game\arcade_game\Data\Database1.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>